.title {
	text-align: center;
}
.team{
	text-align: center;
	}
body{
	font-family : "OCR A";
}

div{
	color : white;
	
	
	font-weight: bold;
	font-size : 40px;

}
h1{
	margin-top: 0px;
	margin-bottom : 5px;
	font-family : "OCR A";
}
h5{
	font-family : "Arabica";
	margin-top: 0px;
	font-size: 20px;
	font-size : 40px;
}
h2{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size : 100px;
	font-family : "Edwardian Script ITC";
}
body{
	background-image: url("Beaver.png")
}

a, a:visited {
    color: White;
}
a:hover {
    color: pink;
}
footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
.video{
	margin: 0 auto;
	width: 600px;
}
	


