h1.hhome{
	text-align: center;
}
h1.hhome {
    background: #c9cacb;
}
small {
    background: #eabfb9;
}
h1.hhome {
    font-style: normal;
}
strong.dsn {
    font-size: large;
}
pre.detail {
    font-family: lato;
}
small {
    font-weight: lighter;
}
u.pcm {
    font-variant: small-caps;
    font-family: lato;
    font-style: italic;
}
u.pcm {
    letter-spacing: 2pt;
}
font.thk {
    color: #d9dadc;
    font-size: x-large;
}
u.pcm {
    text-indent: 4px;
}
input[type="text"] {
    background: #eabfb9;
}
textarea {
    background: #eabfb9;
}
a {
    text-decoration: initial;
}
u.pcm {
    text-transform: capitalize;
}
u.pcm {
    text-decoration: blink;
}
u.pcm {
    line-height: 1;
}
marquee {
    word-spacing: 4px;
}
cite.cte {
    white-space: initial;
}
pre.detail {
    padding-top: 5px;
    padding-bottom: 15px;
}
hr.hrs {
    margin-bottom: 15px;
    margin-top: 5px;
}
h2.iwb {
    margin-bottom: 15px;
}
h1.hhome {
    margin-bottom: 15px;
}
a {
    cursor: auto;
}
dfn {
    visibility: visible;
}
font.thk {
    zoom: 1.5;
}
h1.hhome {
    background: black;
    color: #ffffff;
    font-family: lato;
}
h1.hhome {
    font-size: larger;
}
