html,body {
  
	width:100%;
	height:100%;
	overflow:hidden;
}
legend{
	font-size:40px;
	color: #00ace6;
}
body {
  position: relative;
  z-index: 1;
}

body::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: 0.5; 
  z-index: -1;
  background: url("http://s.phimhayso.com/files/info/14514/bac-si-chuyen-tinh-bac-si-doctors-5.jpg?type=full");
  background-size: cover;
}
form{
    position: relative;
    top: 90px;
    left:56%;
	width:38%;
	height: 400px;
	
	}
	
fieldset{
	background-color: rgba(204, 230, 255,0.2);
	border: 5px outset;
	
	}
h1{
text-align:center;
font-size:50px;
color: #00ace6;

}