body {
	background-color: lightblue;
	background-image: url("home.jpg"); 
	background-position:center;
	position: relative;        
    width: 60%;            
    height: 610px;       
    margin-left: auto;      
    margin-right: auto;
    background-repeat: no-repeat;
    background-size:contain;
}

#question1{
	background: rgba(54, 25, 25, .5); position:absolute;
	font-weight: bold;
	outline-color: green;
	float: right; right: 0;
}

h2{
	color: yellow;
	font-weight: bold;
}

#homeButton{
	background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#centerboard{
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

#workButton{
	background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#friendsButton{
	background-color: pink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#universityButton{
	background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

header{
	color: lightblue;
}

#first{
	color: white;
	font-family: courier;
    font-size: 120%;
    font-weight: bold;
}

#second{
	color: white;
	font-family: courier;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
}

address{
	position: right;
	color: blue;
	font-family: serif;
	font-size: 100%;
	font-style: italic;
	border-color: yellow;
	border-radius: 500;
}